.main-footer__social-icon {width:28px; height:28px}

.menu-mobile__social-item--fb {background:none}
.menu-mobile__social-item--vk {background:none}
.menu-mobile__social-item--yt {background:none}
.menu-mobile__social-item--ig {background:none}

.menu-mobile__social-item {width:28px; height:28px}
.menu-mobile__social-item svg {width:28px; height:28px}